 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #60402C;
active-foreground: #D4C4BA;
normal-background: #171615;
normal-foreground: #D4C4BA;
urgent-background: #6A462F;
urgent-foreground: #D4C4BA;

alternate-active-background: #2C221A;
alternate-active-foreground: #D4C4BA;
alternate-normal-background: #171615;
alternate-normal-foreground: #D4C4BA;
alternate-urgent-background: #171615;
alternate-urgent-foreground: #D4C4BA;

selected-active-background: #6A462F;
selected-active-foreground: #D4C4BA;
selected-normal-background: #6A462F;
selected-normal-foreground: #D4C4BA;
selected-urgent-background: #60402C;
selected-urgent-foreground: #D4C4BA;

background-color: #171615;
background: rgba(0,0,0,0.7);
foreground: #D4C4BA;
border-color: #60402C;

color0: #3E3D3C;
color1: #14100E;
color2: #171210;
color3: #211A13;
color4: #483021;
color5: #4F3523;
color6: #62402C;
color7: #B9A295;
color8: #817168;
color9: #1A1513;
color10: #1F1815;
color11: #2C221A;
color12: #60402C;
color13: #6A462F;
color14: #83553B;
color15: #B9A295;


}

